.adminPage {
  text-align: center;
  
}

.adminStats {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.adminStats > div {
 margin: 5%;
 padding: 1%;
}

.curUsers {
  font-size: 1.5em;
  border: 2px solid #C97857;
  border-radius: 10px;
  margin-right: 5%;
  height: 80%;
}

.curUsers > div {
  color: rgb(44, 44, 44);
  margin-top: 10%;
}

.barChart {
  border-left: 2px solid #C97857;
  border-right: 2px solid #C97857; 
  border-bottom: 2px solid #C97857; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.barChart > .rv-xy-plot__inner {
  margin: 0;
}

.smsContainer {
  border-top: 2px solid #7C97FB; 
  border-bottom: 2px solid #7C97FB; 
  background-color: rgb(248, 241, 234);
}

.messagesTable {
  font-size: 18px;
}

.messagesTable > thead> tr:hover {
  background-color:  rgba(201, 119, 87, 0.384);
  border-top: 1px dashed darkgrey;
}

.btn.teal.toast {
  margin-left: 15%;
}

.btn.teal.toast.sms {
  position: relative;
  margin-left: 15%;
  top: 500px;
}




