.adminPage {
  text-align: center;
}

.topOfAdminPage {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
  border: 2px solid rgb(8, 21, 78);
  border-radius: 10px;
}

.topOfAdminPage > .row {
  margin: 0;
  width: 100% !important;
}

.barChart {
  border-left: 2px solid teal;
  border-right: 2px solid teal; 
  border-bottom: 2px solid teal; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.curUsers {
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
}

.barChart > .rv-xy-plot__inner {
  margin: 0;
}

.messagesTable {
font-size: 18px;
}



