.adminPage {text-align: center;}
.topOfAdminPage {text-align: center;}

.topOfAdminPage > .row {
  margin: 0;
  width: 100% !important;
}

.barChart {
  border-left: 2px solid teal;
  border-right: 2px solid teal; 
  border-bottom: 2px solid teal; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.curUsers {
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
}

.barChart > .rv-xy-plot__inner {
  margin: 0;
}



