/* media screen declarations */

@media only screen and (max-width: 949px) {
  .row {width: 100%;}

  .moonPage {display: none;}

  .login-block {
    width: 98% !important;
    margin: 0 !important;
    padding: 0;
    font-size: 14px; 
  }

  .login-sec h2 {
    font-size: 20px !important;
    margin: 2%;
  }
 
  .signUp {width: 100%;}
  .login-sec {padding: 0;max-width: 700px;}
  .tideChartCss {margin: 0% !important;}
  .rv-xy-plot_inner {width: 20px !important;}

  .dataPage {
    width: 95%;
    margin: 2.5%;
    font-size: 14px;
  }

  .dataPage > div {
    width: auto;
  }

  .sixFtPage {
    width: 96%;
    font-size: 12px;
    margin: 1%;
    box-shadow: none;
  }

  .unsubInfoPage {
    width: 96%;
    font-size: 12px;
    margin: 1%;
    box-shadow: none;
  }

  .septemberPage {
    background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    font-size: 10px;
    text-shadow: 1px 1px black;
    box-shadow: 3px 5px 3px rgb(202, 202, 202);
  }

  .septemberPage > .row > h4 {font-size: 16px !important; padding: 1%;}
  .septemberPage::after {
     background-size: 100% 80%;
  }
  .btn.teal {margin-left: 0;}
  .rv-xy-plot__axis__tick__text {text-shadow: 2px 2px 1px rgb(252, 230, 133);}

  .rv-xy-plot__inner {
    width: 75%;
    margin-left: 0;
    margin-top: -1%;
  }

  .unsubscribe {
    display: inline-block;
    margin-left: 2.5% !important;
    background-image: linear-gradient(#ffffff, #56d7db65);
  }

  .unsubscribe-form {
    margin: 1.33% !important;
    width: 96% !important;
    background-color: rgba(255, 255, 255, 0.733);
  }

  .tideChartCss {
    width: 100%;
  }

  #tideChartTitle {
   font-size: 20px !important;
   margin-left: 0 !important;
   margin-bottom: 10%;
   margin-top: -5%;
   text-transform: uppercase;
   width: 100%; 
   background-color: rgb(44, 157, 177);
   color: white;
  }

  #tideChartLegend {
    border-radius: 10px;
    margin-bottom: 3%;
    margin-left: 0 !important;
  }

  .tideChartMedia {
    width: 100%
  }

  .rv-hint {margin: -1% 0 2% 1% !important;}
  
}

