/* iphone 5 */
@media only screen and (min-device-width: 300px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .row {
    width: 100%;
  }

  /* site heading and alert */

  .siteHeading {
    margin-left: 3% !important;
  }

  .siteHeading > .letter {
    font-size: 3.5em !important;
  }

  .btn.red {
    width: 95% !important;
    font-size: 10px;
    margin-left: -4%;
  }

  #modal_5 > .modal-content > h5 {
    font-size: 14px !important;
  }

  #modal_5 > .modal-content > h4 {
    font-size: 14px !important;
  }

  #modal_5 > .modal-content > h3 {
    font-size: 18px !important;
  }

  #modal_0 > .modal-content > a {
    font-size: 12px !important;
  }

  #modal_0 > .modal-content > a > img {
    width: 30px;
    height: 30px;
  }

  .moonPage {
    display: none;
  }

  /* login page */

  .login-block {
    width: 98% !important;
    margin: 0 !important;
    padding: 0;
    font-size: 13px;
  }

  .login-sec h2 {
    font-size: 18px !important;
    margin: 1%;
  }

  .signUp {
    width: 100%;
  }
  .login-sec {
    padding: 0;
    max-width: 700px;
  }
  .tideChartCss {
    margin: 0% !important;
  }
  .rv-xy-plot_inner {
    width: 16px !important;
  }

  .dataPage {
    width: 95%;
    margin: 2%;
    font-size: 13px;
  }

  .dataPage > div {
    width: auto;
  }

  .septemberPage {
    background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    font-size: 10px;
    text-shadow: 1px 1px black;
    box-shadow: 3px 5px 3px rgb(202, 202, 202);
  }

  .septemberPage > .row > h4 {
    font-size: 16px !important;
    padding: 1%;
  }
  .septemberPage::after {
    background-size: 100% 80%;
  }
  .btn.teal {
    margin-left: 0;
  }
  .rv-xy-plot__axis__tick__text {
    text-shadow: 2px 2px 1px rgb(252, 230, 133);
  }

  .rv-xy-plot__inner {
    height: 90% !important;
    margin-left: -2.25% !important;
    margin-top: 12%;
  }

  .rv-hint {
    border: 2px solid #7c97fb;
    margin: -6% 0% 2% -18% !important;
    font-size: 14px;
    margin-right: 0 !important;
  }

  #floodCatLegend {
    display: none;
  }

  .tideChartCss {
    width: 100%;
  }

  #tideChartTitle {
    font-weight: bold;
    font-size: 14px !important;
    margin-left: 10% !important;
    margin-top: -5%;
    text-transform: uppercase;
    width: 100%;
    color: white;
    margin-bottom: 1%;
  }

  #tideChartLegend {
    border-radius: 10px;
    font-size: 13px !important;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-right: 200%;
    margin-left: 0 !important;
  }

  .tideChartMedia {
    width: 100%;
  }

  .sixFtPage {
    width: 96%;
    font-size: 10px;
    margin: 1%;
    box-shadow: none;
  }

  .sixFtPage > h4 {
    font-size: 16px;
  }

  .sixFtPage > div {
    font-size: 16px;
  }

  .unsubscribe {
    display: inline-block;
    margin-left: 2.5% !important;
    background: none !important;
  }

  .unsubscribe-form {
    margin: 1.33% !important;
    width: 96% !important;
    background-color: rgb(255, 255, 255);
  }

  .unsubscribe-form > .row > h5 {
    font-size: 18px;
  }

  .unsubscribe-form > .btn {
    font-size: 10px;
    height: 30px !important;
  }

  .septemberPage {
    margin: 1.33% !important;
    width: 96%;
  }

  .septemberPage:after {
    background: none;
  }

  .carouselContainer {
    width: 100% !important;
  }

  .carouselContainer::after {
    background: none;
  }

  .carouselPage {
    width: 100% !important;
    margin-left: 0;
  }

  li.thumb {
    display: none !important;
  }

  /* admin page */
  .adminPage {
    display: inline;
    align-content: row;
    text-align: center;
  }

  .adminStats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
  }

  .curUsers {
    font-size: 0.9em !important;
    border: 2px solid #de6262;
    border-radius: 10px;
    margin-right: 5%;
    height: 50%;
  }

  .curUsers > div > h4 > b {
    font-size: 24px;
    padding: 0 !important;
    margin: 0 !important;
  }

  .barChart {
    width: 120% !important;
  }

  .barChart > .rv-xy-plot__inner {
    margin: 0;
  }

  .messagesTable {
    font-size: 12px !important;
  }

  .btn.teal.toast.sms {
    position: relative;
    top: 300px;
  }

  .barChart {
    width: 320px !important;
    border: none !important;
    height: 300px !important;
  }

  rect {
    width: 8%;
  }

  h5 {
    font-size: 18px;
  }

  h4 {
    font-size: 22px;
  }

  .barChart > .rv-xy-plot__inner {
    width: 120% !important;
    margin-left: -15% !important;
  }

  .subscribeTicks > line {
    margin-bottom: 3% !important;
  }

  .hundredYearChart {
    display: none;
  }

  button.btn {
    width: 60% !important;
  }

  .unsubInfoPage {
    width: 90%;
    background-size: 150% 50%;
    font-size: 10px;
    margin: 4%;
    box-shadow: none;
  }

  .unsubInfoPage > h5 {
    font-size: 18px;
  }

  .FooterPage {
    margin-bottom: 20% !important;
  }

  .FooterPage > .foo > .letter {
    font-size: 2em !important;
  }

  .FooterPage:after {
    content: '';
    background: url(https://images.unsplash.com/photo-1530123985359-4fd0cce1ea8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2691&q=80);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .letter {
    font-size: 32px !important;
  }

  .infoLinks {
    display: inline-block;
    margin: 10%;
    font-size: 14px !important;
  }
}
