/* iphone 6,7,8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 768px)
and (-webkit-min-device-pixel-ratio: 2) { 
  .row {width: 100%;}

  /* site heading and alert */

  .siteHeading {
    margin-left: 3% !important;
  }

  .siteHeading > .letter {
    font-size: 4em !important;
  }

  .btn.red {
    width: 85% !important;
    font-size: 12px;
  }

  #modal_0 > .modal-content > h4 {
    font-size: 24px !important;
  }

  #modal_0 > .modal-content > h3 {
    font-size: 20px !important;
  }

  #modal_0 > .modal-content > a {
    font-size: 12px !important;
  }

   #modal_0 > .modal-content > a > img {
    width: 40px;
    height: 40px;
  }

  .moonPage {display: none;}

 /* login page */

  .login-block {
    width: 98% !important;
    margin: 0 !important;
    padding: 0;
    font-size: 14px; 
  }

  .login-sec h2 {
    font-size: 20px !important;
    margin: 2%;
  }
 
  .signUp {width: 100%;}
  .login-sec {padding: 0;max-width: 700px;}
  .tideChartCss {margin: 0% !important;}
  .rv-xy-plot_inner {width: 20px !important;}

  .dataPage {
    width: 95%;
    margin: 2.5%;
    font-size: 14px;
  }

  .dataPage > div {
    width: auto;
  }

  .septemberPage {
    background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    font-size: 10px;
    text-shadow: 1px 1px black;
    box-shadow: 3px 5px 3px rgb(202, 202, 202);
  }

  .septemberPage > .row > h4 {font-size: 16px !important; padding: 1%;}
  .septemberPage::after {
     background-size: 100% 80%;
  }
  .btn.teal {margin-left: 0;}
  .rv-xy-plot__axis__tick__text {text-shadow: 2px 2px 1px rgb(252, 230, 133);}

  .rv-xy-plot__inner {
    width: 60%;
    margin-left: -2% !important;
    margin-top: 20%;
  }

  .rv-hint {
    width: 60%;
    font-size: 16px;
  }

  #floodCatLegend {
    display: none;
  }

  .tideChartCss {
    width: 100%;
  }

  #tideChartTitle {
   font-weight: bold;
   font-size: 16px !important;
   margin-left: 10% !important;
   margin-top: -5%;
   text-transform: uppercase;
   width: 100%; 
   color: white;
   margin-bottom: 1%;
  }

  #tideChartLegend {
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-right: 200%;
    margin-left: 0 !important;
  }

  .tideChartMedia {
    width: 100%
  }

  .rv-hint {
    border: 2px solid #7C97FB;
    width: 100%;
    margin: -6% 0% 2% -18% !important;
  }

  .sixFtPage {
    width: 96%;
    font-size: 10px;
    margin: 1%;
    box-shadow: none;
  }

  .unsubscribe {
    display: inline-block;
    margin-left: 2.5% !important;
    background: none !important;
    background-size: 300%;
  }

  .unsubscribe-form {
    margin: 1.33% !important;
    width: 96% !important;
    background-color: rgb(255, 255, 255);
  }

  .septemberPage {
    margin: 1.33% !important;
    width: 96%;
  }

  .septemberPage:after {
    background: radial-gradient(rgb(152, 255, 169), rgb(38, 123, 180));
  }

  .adminPage {
    display: inline;
    align-content: row;
    text-align: center;
  }

  .carouselContainer {
    padding: 0;
    width: 100% !important;
  }

  .carouselContainer::after {
    background: none;
  }

  .carouselPage {
    width: 100% !important;
    margin-left: 0;
  }

  li.thumb {
    display: none !important;
  }

  .adminStats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
  }

  .curUsers {
    font-size: 1em !important; 
    border: 2px solid #DE6262;
    border-radius: 10px;
    margin-right: 5%;
    height: 60%;
  }

  .curUsers > div {
    color: rgb(44, 44, 44);
  }

  .barChart {
    width: 120% !important;
    border-left: 2px solid #7C97FB;
    border-right: 2px solid #7C97FB; 
    border-bottom: 2px solid #7C97FB; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .barChart > .rv-xy-plot__inner {
    margin: 0;
  }

  .smsContainer {
    border-top: 2px solid #7C97FB; 
    border-bottom: 2px solid #7C97FB; 
  }

  .messagesTable {
    font-size: 12px !important;
  }

  .btn.teal.toast.sms {
    position: relative;
    top: 300px;
  }

  .barChart {
    width: 100%;
    border: none !important;
  }

  rect {
    width: 10%;
  }
  
  .barChart > .rv-xy-plot__inner {
    width: 120% !important;
    margin-left: -15% !important;
  }

  .subscribeChart > svg > g > .subscribeTicks  {
    width: 20%;
  }

  .hundredYearChart {
    display: none;
  } 

  button.btn {
    width: 60% !important;
  }

  .unsubInfoPage {
    width: 90%;
    background-size: 150% 50%;
    font-size: 10px;
    margin: 4%;
    box-shadow: none;
  }

  .FooterPage {
    margin-bottom: 20% !important;
  }

  .FooterPage:after {
    content: "";
    background: url(https://images.unsplash.com/photo-1530123985359-4fd0cce1ea8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2691&q=80);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .letter {
    font-size: 32px !important;
  }

  .infoLinks {
    display: inline-block;
    margin: 10%;
    font-size: 14px !important;
  }
}


