body {
  font-family: 'Montserrat', sans-serif;
  height:auto;
  margin:0;
}

.spinner {margin-left: 50%;}
.toast {margin-bottom: 3%;}
table {border: 1px solid rgb(123, 189, 228);}
tr:hover {background-color: rgb(221, 255, 244);}
nav ul a {color: rgb(44, 157, 177);}

nav ul a:hover {
  color: rgb(250, 229, 134);
  padding: -1%;
  background-color: rgba(17, 17, 17, 0.678);
  border-radius: 5%;
  transform: translate(2px, -3px);
}

nav ul a:active {transform: translate(1px, 1px);}

.button-collapse {color: rgb(44, 157, 177);}

.button-collapse:hover {
  color: rgb(250, 229, 134);
  transform: translate(1px, -1px);
}

.button-collapse:active {
  color: rgb(0, 0, 0);
  transform: translate(1px, 1px);
}

.dataPage {
  background: url(https://images.unsplash.com/photo-1488921618671-463b781ac428?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size:cover;
  border-radius: 10px;
  padding: 2%;
  width: 66%;
  margin-top: 6%;
  margin-left: 16.5%;
  font-size: 20px;
  box-shadow: 2px 5px 3px darkgrey;
}

.dataPage::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1523275033438-8c0a9239935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
  opacity: 0.5;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.sixFtPage {
   background: url(https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
  background-size:cover;
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 66%;
  margin-top: 6%;
  margin-left: 16.5%;
  font-size: 20px;
  text-shadow: 1px 1px black;
}

#GISLinkTwo {
  border: 2px solid white;
  padding: 1%;
  color: white;
  margin-left: 10%;
  text-shadow: none;
  font-weight: bold;
}

#GISLinkTwo:hover {
  border: 2px solid rgb(65, 219, 194);
  color: rgb(52, 156, 139);
  
}

.unsubscribe-form > div > h5 {
  color: #DE6262;
  font-weight: bold;
}

#GISLink {
  margin-left: 30%;
  text-shadow: none;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid rgb(23, 202, 134);
  color: rgb(23, 202, 134);
}

#GISLink:hover {color: white;}

.septemberPage {
  display: flex;
   background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
   background-size: 115% 100%;
   background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 60%;
  margin-top: 8%;
  margin-left: 10%;
  font-size: 20px;
  text-shadow: 1px 1px black;
  box-shadow: 3px 5px 3px rgb(202, 202, 202);
}

.septemberPage:after {
  content: "";
  background: url(https://images.unsplash.com/photo-1495102675274-3ba61637d5bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#SeptLink {
  background-color: rgba(0, 0, 0, 0.212);
  margin-left: 30%;
  text-shadow: none;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid rgb(236, 225, 118);
  color: rgb(236, 225, 118);
}

#SeptLink:hover {color: white;}

.informationDataPage {
  display: flex;
  width: 90%;
}

.adminPage {text-align: center;}
.topOfAdminPage {text-align: center}

.topOfAdminPage > .row {
  margin: 0;
  width: 100% !important;
}

.btn.teal {
  margin-top: 1%;
  background-color: #DE6262 !important; 
  margin-left: 10%;
}

.unsubscribe {
  display: flex;
  margin: 2%;
}

.unsubInfoPage {
  background: url(./images/mapBackground.png);
  background-size:cover;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  width: 75%;
  text-shadow: 1px 1px rgb(255, 255, 255);
}

.unsubscribe-form {
  margin: 0 !important;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.733);
}

.rv-xy-plot__axis__tick__text {text-shadow: 2px 2px 1px rgb(252, 230, 133);}

.rv-xy-plot__inner {
  margin-left: 50%;
  margin-top: -20%;
}

.rv-hint {margin: -1% 0 3% 15% !important}

#icon_email {width: 300px;}

.barChart > .rv-xy-plot__inner {
  margin: 0;
 
}

.barChart > .rv-xy-plot__inner > g > line {
  margin: 0;
  text-shadow: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.FooterPage {
  font-family: Aleo, menlo;
}

.FooterPage table {
  font-size: 24px;
}

.FooterPage:after {
  content: "";
  background: url(https://images.unsplash.com/photo-1530123985359-4fd0cce1ea8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2691&q=80);
  background-size: 110% 110%;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 130, 130, 0.274);
  color: white;
  text-align: center;
}

.mediaTable > .letter {
  font-size: 34px;
}

table > tr > td {
  font-size: 16px;
}









