body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.spinner {
  margin-left: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #DE6262;
  color: white;
  text-align: center;
}

.footer-btn {
  margin-top: 5px;
  border-radius: 10px;
  font-size: 12px;
}

.signup {
  width: 90%;
  margin-top: 1%;
}

.login-block {
  border: 1px solid rgba(139, 0, 0, 0.137);
  width: 65%;
  margin-left: 15%;
  border-radius: 10px;
  background-color: rgba(193, 193, 248, 0.096);
}

.login-block:hover {
  border: 1px solid rgba(139, 0, 0, 0.514);
}

.moonPage {
  width: auto;
  
}

.moonPage > img {
  background-color: black;
  float: left;
  padding: 2%;
  margin-left: 5%;
  border: 2px solid rgb(0, 132, 255);
  border-radius: 100px;
  -webkit-box-shadow: 6px 8px 1000px -4px rgb(255, 249, 168);
  -moz-box-shadow: 6px 8px 1000px -4px rgb(252, 247, 182);
  box-shadow: 6px 8px 1000px -4px rgb(192, 192, 192);
}

.moonPage > img:hover {
  border:2px solid rgb(23, 202, 134); 
}

.dataPage {
  background: url(https://images.unsplash.com/photo-1488921618671-463b781ac428?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size:cover;
  border-radius: 10px;
  padding: 2%;
  width: 66%;
  margin-top: 6%;
  margin-left: 16.5%;
  font-size: 20px;
  box-shadow: 2px 5px 3px darkgrey;
}

.dataPage::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1523275033438-8c0a9239935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
  opacity: 0.5;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.sixFtPage {
   background: url(https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
  background-size:cover;
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 66%;
  margin-top: 6%;
  margin-left: 16.5%;
  font-size: 20px;
  text-shadow: 1px 1px black;
}

#GISLink {
  margin-left: 30%;
  text-shadow: none;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid rgb(23, 202, 134);
  color: rgb(23, 202, 134);
}

#GISLink:hover {
  color: white;
}

.septemberPage {
   background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
   background-size: 115% 100%;
   background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 60%;
  margin-top: 8%;
  margin-left: 10%;
  font-size: 20px;
  text-shadow: 1px 1px black;
  box-shadow: 3px 5px 3px rgb(202, 202, 202);
}

.septemberPage::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1495102675274-3ba61637d5bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: 100% 100%;
   background-repeat: no-repeat;
   border: 5px double rgb(85, 142, 180);
  opacity: 0.5;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


#SeptLink {
  background-color: rgba(0, 0, 0, 0.212);
  margin-left: 30%;
  text-shadow: none;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid rgb(236, 225, 118);
  color: rgb(236, 225, 118);
}

#SeptLink:hover {
  color: white;
}

.informationDataPage {
  border: 1px solid rgba(182,238,252,1);
  border-radius: 5px;
  padding: 2%;
  margin: 3%;
}

.rv-xy-plot__axis__tick__text {

  text-shadow: 2px 2px 1px rgb(252, 230, 133);
}

#icon_email {
  width: 300px;
}

/* signup */
/* .login-block{
  margin-left: 15%;
  margin-bottom: 10%;
  border-radius: 10px;
  background: #DE6262;  /* fallback for old browsers */ /*
  background: -webkit-linear-gradient(to bottom, rgb(140, 176, 255), #DE6262);  /*Chrome 10-25, Safari 5.1-6 */ /*
  background: linear-gradient(to bottom, rgb(48, 98, 159), #DE6262); /* W3C, IE 10+/Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /*
  width: 70%;
  padding : 25px 0;
  box-shadow: 2px 5px 3px darkgrey;
} */

/* .banner-sec{ */
  /* background: url(https://media.gettyimages.com/photos/man-walks-through-the-sea-water-flooding-the-portland-pier-after-high-picture-id903086592)  no-repeat left bottom; background-size:cover;  */ /*
  min-height:300px; 
  border-radius: 10px; 
  padding:0;

}

/* .container{color: rgb(48, 98, 159);background:rgb(255, 255, 255); border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);} */

.login-sec {
  padding: 2%; 
  position:relative;
}


.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:rgb(138, 190, 254);}
.login-sec .copy-text a{color:rgb(33, 97, 122);}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:200px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; }

.btn-login {
  border-radius: 10px;
  margin-left: 1%;
  background: rgb(98, 177, 222); 
  color:#fff; font-weight:600;
}

body{
  height:auto;
  margin:0;
}

/* media screen declarations */

@media only screen and (max-width: 850px) {
  body {
    background-color: rgb(255, 255, 255); 
  }

  .row {
    width: 100%;
  }

  .moonPage {
    display: none;
  }

  .login-block {
    width: 95%;
    margin: 2.5%;
    padding: 0;
    font-size: 14px; 
  }
 
  .signUp {
    width: 100%;
  }

  .login-sec {
    padding: 0;
   max-width: 700px;
  }

  .tideChartCss {
    margin: 0% !important;
  }

  .rv-xy-plot_inner {
    width: 20px !important;
  }

  .dataPage {
    width: 95%;
    margin: 2.5%;
    font-size: 14px;
  }

  .sixFtPage {
    width: 96%;
    font-size: 12px;
    margin: 1%;
    box-shadow: none;
  }

  .septemberPage {
   background: url(https://services3.arcgis.com/IWh1Id1sBCnK9p7O/arcgis/rest/services/Portland_Flooding/FeatureServer/0/2/attachments/3);
   background-size: 115% 100%;
   background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  font-size: 12px;
  text-shadow: 1px 1px black;
  box-shadow: 3px 5px 3px rgb(202, 202, 202);
}

  


}